.sidebar {
    position: sticky;
    top: 0;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid white;
    padding: 10px;
    background-color: #221e1e;
    z-index: 1;
  }
  
  .sidebar-section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
  }
  
  .sidebar-section.large {
    font-size: 18px;
    border-bottom: 1px solid rgb(150, 150, 150);
  }
  
  .sidebar-section.small {
    font-size: 13px;
    border-bottom: 1px solid rgb(150, 150, 150);
  }
  
  .container {
    margin-top: 50px;
  }
  
  .card.custom-card {
    padding: 20px;
  }
  